@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    font-family: "roboto", Arial, Helvetica, sans-serif;
    background-color: #EFF3F5;
    font-size: .9rem;
}

main{
    background-image: url("assets/bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1.6rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 50px;
}

div{
    margin: 10px 0;
}

label{
    color: black;
    font-weight: 500;
    display: block;
    margin-bottom: .3rem;
    transition: 0.3s;
}

label:not(#button-file)::after{
    content:" *"; 
    color: #0071bb;
}

input:not(#file), textarea{
    display: flex;
    width: 30vw;
    height: 36px;
    border: 1px solid gainsboro ;
    border-radius: .4rem;
    padding: 0 1rem;
    transition: 0.4s;
}

.content div input:hover, .content div textarea:hover{
    background-color: #EFF3F5;
}

.content div input:focus, .content div textarea:focus{
    border: 1px solid black !important;
    outline: none;
    background-color: inherit;
}

input::placeholder{
    color: silver;
}

input[type="file"]{
    display: none;
}

#button-file{
    background-color: #EFF3F5;
    padding: 5px 30px;
    border-radius: .4rem;
    cursor: pointer;
    text-align: center;
}

#button-file:hover{
    background-color: white;
}

button{
    border-radius: .4rem;
    background-color: #0071bb;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    padding: 15px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button:hover{
    filter: brightness(0.9);
}

button span{
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

button span:after{
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

button:hover span{
    padding-right: 15px;
}

button:hover span:after{
    opacity: 1;
    right: 0;
}

@media(max-width: 768px){

    body{
        font-size: .8rem;
    }

    .content{
        padding: 30px;
    }

    input:not(#file), textarea{
        width: 75vw;
        height: 30px;
        font-size: 12px;
    }

}